/* Add this CSS to center the box */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Birthdaylist {
    list-style-type: none;
    padding: 0;
    width: 40vw;
    background-color: rgb(254, 197, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* optional for effect */
    border-radius: 10px; /* optional for rounded corners */
}

.BirthdayItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.BirthdayImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px; 
}

.BirthdayDetails {
    display: flex;
    flex-direction: column;
}

.BirthdaylistName {
    font-size: 24px;
    margin-bottom: 15px;
}

.ClearButton {
    background-color: rgb(255, 113, 136);
    margin: 20px;
    width: 20vw;
    height: 4vh;
}
